*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
  }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.dark {
    background-color: rgb(38,38,38);
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cursor {
  cursor: pointer;
}

.cursor--grab {
  cursor: grab;
}

.cursor--grabbing {
  cursor: grabbing;
}

/* #canvasBG {
    position: absolute;
    left: 0;
    top: 0;
} */

/* test styles */
